.wp-admin .form-control {
  width: 100%;
  display: block;
}
label.error {
  color: #ff0000;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}
label.label-admin {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}
.form-image {
  display: flex;
  position: relative;
  padding-bottom: 20px;
}
.form-image label.error {
  position: absolute;
  bottom: 0;
  left: 0;
}
.row-admin {
  margin-bottom: 20px;
}